{# medecin/edit.html.twig #}

{% extends 'base5.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Edit Users</h1>

        <div class="row">
            <div class="col-md-6">
                {{ include('admin1/_form.html.twig', {'button_label': 'Update'}) }}

            </div>
        </div>




    </div>
{% endblock %}