
{% extends 'base2.html.twig' %}

{% block home %}
{% endblock %}
{% block title %}New Blog{% endblock %}
{% block body %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h1>Create new Blog</h1>

    {{ include('blog/_form.html.twig') }}

    <a href="{{ path('app_blog_indexback') }}">back to list</a>
    
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}




