{% extends 'base.html.twig' %}

{% block content %}
  <!-- header section starts  -->

  <header class="header">

    <a href="#" class="logo ">
      <img src="{{ asset('images/logo.png') }}" alt="">
    </a>

    <h1 class="heading ">DocDirect  </h1>
    <h1 class="heading ">     </h1>
    <h1 class="heading ">     </h1>

    <nav class="navbar">

      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#products">products</a>
      <a href="#blogs">events</a>
      <a href="#review">review</a>
      <a href="#contact">contact</a>

    </nav>

    <div class="icons">
      <div class="fas fa-search" id="search-btn"></div>
      <div class="fas fa-shopping-cart" id="cart-btn"></div>
      <div class="col-lg-2 col-12">
        <div class="get-quote">
          <a href="{{ path('app_login') }}" class="btn">Login</a>
        </div>
      </div>
      <div  href="#products" class="fas fa-sign-in-alt " id="login-btn" > </div>
      <div class="fas fa-bars" id="menu-btn"></div>
    </div>

    <div class="search-form">
      <input type="search" id="search-box" placeholder="search here...">
      <label for="search-box" class="fas fa-search"></label>
    </div>



  </header>



{% endblock %}

